<div class="row">
    <aside class="col-md-3">
        <h2>MYSELF</h2>
        <p>My name is Soham Bhavsar. I am pursuing computer programming...</p>
    </aside>
    <section class="main col-md-9">
        <article>
            <h2>ABOUT</h2>
            <p>My name is Soham Bhavsar...</p>
        </article>
    </section>
</div>