<h1>Categories</h1>
<table class="table">
    <thead>
        <tr>
            <th>Category ID</th>
            <th>Category Name</th>
        </tr>
    </thead>
    <tbody>
        {{#each categories}}
        <tr>
            <td>{{this.id}}</td>
            <td>{{this.name}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>