<h1>User History for {{user.userName}}</h1>
<p>Email: {{user.email}}</p>
<table>
  <thead>
    <tr>
      <th>Login Date/Time</th>
      <th>Client Information</th>
    </tr>
  </thead>
  <tbody>
    {{#each user.loginHistory}}
    <tr>
      <td>{{this.dateTime}}</td>
      <td>{{this.userAgent}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>
